.left-tool {
	float:left;
	overflow-y: auto;
	width:20%;
	max-height: 500px;

}

.working-area {
	width:60%;
	margin: auto;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;

}

.right-tool {
	float:right;
	
	width:20%;
	height:100%;
}

.scene-timeline {
	float:bottom;
	margin-bottom:10px;	
	margin-top:10px;
	padding-top:5px;
	margin-left: auto;
	margin-right: auto;
	padding:bottom:5px;
	width : 100%;
	height:100%;
	min-height:50px;
	
}

#left-tool-section {
	width:100%;
	height:100%;	
    min-height: 500px;
    text-align: center;
}

.work-area-canvas canvas {

	width:100%;
	height:100%;
	text-align:center;
	margin: auto;
	min-height: 500px;
	max-height: 500px;
}

#right-tool-section {
	width:100%;
	height:100%;
	
	min-height: 500px;

}

#scene-timeline-section {
	width:100%;
	height:100%;


}

