{% extends "base.html" %}

{% block title %} {{ head_title }} {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

    <head>

    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/about.css">
        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/switcher.css">
  

    </head>


{% endblock %}


{% block head_js %}


{% endblock %}

{% block content %}

    {%include "login.html"%}
    {%include "signup.html"%}
           


    {%include "nav.html"%}

<div id="wrapper" class="container-fluid">


<!-- Content
 -->


<div class="row-fluid">

    
        <!-- Page Title -->
        <div id="page-title">
            <h2>About</h2>
        </div>
        <!-- Page Title / End -->

    
</div>




<div class="row-fluid">

    <!-- Standard Structure -->
<!--     <div class="span8">
        <div class="headline"><h4>What we Do?</h4></div>
        <p>...........</p>
        <p>...........</p>
        <p>...........</p>
    </div>
    
    <div class="span4">
        <div class="headline "><h4>Join our Team</h4></div> -->

        <!-- Large Notice -->
<!--         <div class="well">
            <h2>.........</h2>
            <p>..........</p>
            <button type="button" class="btn btn-inverse">Apply</button>
        </div>
        
    </div>
 -->    <!-- Standard Structure End -->
    
    
</div>
<div class="row-fluid">
        <div class="headline marginbottom"><h4>The Core</h4></div>
</div>
<div class="row-fluid">
    <!-- About -->
    <div class="span3 team">
        <img src="/static/img/ramesh.jpg" alt="" class="img-circle"/>
        <div class="staff"><h5>Ramesh Kumar</h5> <span>.....</span><span><i class="icon-envelope"></i>&nbsp;ramesh@biztoonz.com</span></div>
        <div class="team-about"><p>..........................................................................................</p></div>
        
        <!-- Social Icons -->

        <ul class="social-icons ">
            <li class="facebook"><a href="http://www.facebook.com/rameshkumarv">Facebook</a></li>
            <li class="linkedin"><a href="http://in.linkedin.com/in/rameshkumar4u">LinkedIn</a></li>
            <!-- <li class="blogger"><a href="#">Blogger</a></li> -->
            <li class="googleplus"><a href="#">Google Plus</a></li>
        </ul>
        
    </div>
    
    <!-- About -->
    <div class="span3 team">
        <div class="clear"></div>
        <img src="/static/img/ankur.jpg" alt="" class="img-circle" />
        <div class="staff"><h5>Apratim Ankur</h5> <span>......</span><span><i class="icon-envelope"></i>&nbsp;apratim.ankur@gmail.com</span></div>
        <div class="team-about"><p>..........................................................................................</p></div>
        
        <!-- Social Icons -->
        <ul class="social-icons ">
            <li class="facebook"><a href="http://www.facebook.com/apratim.ankur">Facebook</a></li>
            <li class="linkedin"><a href="http://in.linkedin.com/pub/apratim-ankur/27/b4b/508/">LinkedIn</a></li>
<!--             <li class="dribbble"><a href="#">Dribbble</a></li> -->
            <!-- <li class="blogger"><a href="#">Blogger</a></li> -->
            <li class="googleplus"><a href="#">Google Plus</a></li>
        </ul>
        
    </div>
    <div class="span4 google-map" style="float:right;">

                    <div class="headline no-margin"><h4>Our Location</h4></div>

                    <!-- Google Maps -->
                    <div id="googlemaps" class="google-map google-map-full" style="height:250px"></div>

                    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
                    <script src="{{ STATIC_URL }}js/jquery.gmap.min.js"></script>

                    <script type="text/javascript">
                        jQuery('#googlemaps').gMap({
                            maptype: 'ROADMAP',
                            scrollwheel: false,
                            zoom: 13,
                            markers: [
                                {
                                    address: 'Jaaga Creative Common Ground, 68 KH Road, Bangalore, Karnataka 560027', // Your Adress Here
                                    html: '',
                                    popup: false
                                }

                            ],
            
                        });
                    </script>

                </div>


</div>
<!-- 960 Container End -->


</div>
<!-- Wrapper / End -->


    {%include "footer.html"%}


    {%include "switcher.html"%}

{% endblock %}

{% block body_js %}
    <script src="{{STATIC_URL}}js/switcher.js"></script>
{% endblock %}