{% extends "base.html" %}

{% block title %} {{ head_title }} {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->



{% endblock %}


{% block head_js %}


{% endblock %}

{% block content %}

    {%include "login.html"%}
    {%include "signup.html"%}
           


    {%include "nav.html"%}


            <div class="row-fluid">


                <!-- Page Title -->
                <div id="page-title">
                    <h2>Contact Us</h2>
                </div>
                <!-- Page Title / End -->


            </div>



        <div class="row-fluid">

                <!-- Standard Structure -->
                <div class="span8">
                    

                    <div id="contact-form" >
                        <form>
                            <fieldset>
                                <label>Name</label>
                                <input type="text" class="input-xlarge">

                                <label>Email</label>
                                <input type="text" class="input-xlarge">

                                <label>Comment</label>
                                <textarea rows="6" class="input-xxlarge"></textarea>



                            </fieldset>
                            <button type="submit" class="btn btn-inverse">Send Your Message</button>
                        </form>
                    </div>
                </div>



                <div class="span4 google-map">

                    <div class="headline no-margin"><h4>Our Location</h4></div>

                    <!-- Google Maps -->
                    <div id="googlemaps" class="google-map google-map-full" style="height:250px"></div>

                    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
                    <script src="{{ STATIC_URL }}js/jquery.gmap.min.js"></script>

                    <script type="text/javascript">
                        jQuery('#googlemaps').gMap({
                            maptype: 'ROADMAP',
                            scrollwheel: false,
                            zoom: 13,
                            markers: [
                                {
                                    address: 'Jaaga Creative Common Ground, 68 KH Road, Bangalore, Karnataka 560027', // Your Adress Here
                                    html: '',
                                    popup: false
                                }

                            ],
            
                        });
                    </script>

                </div>


        </div>


    {%include "footer.html"%}



{% endblock %}

{% block body_js %}


{% endblock %}