<div class="modal fade" id="create_proposal_modal" tabindex="-1" style="display:none;width:600px;left:670px;top:100px;max-height:500px;top:40%;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Enter The PO Number :-</h3>
    </div>
    <div class="modal-body" id="create_proposal_modal_body" style="width:95%; max-height:500px;">

        <div class="alert alert-success" id="create_proposal_msg_container" style="width:400px;margin-left:230px; height:200px; display:none;">
            <h4 style="margin-left:100px;">Creating Proposal...</h4>
        </div>

        <div id="create_proposal_form_body" style="display:block;">
            <form id="create_proposal_form" class="well form-horizontal"
                 method="post" accept-charset="utf-8" action="/create_po/{{loggedin_user}}/{{selected_enquiry.title}}/">
                <fieldset>
                    <div class="row-fluid">
                        <div class="control-group">
                                    <div class="control-label">PO Number : </div>
                                    <div class="controls">
                                      
                                        <input name="po_no" class="span12" id="po_no_input" required type="text">

                                    </div>
                        </div>

                    </div>
                     <div class="row-fluid">
                        <div class="control-label">Scanned Image of PO (optional) : </div>
                                    <div class="controls">
                                      
                                        <input name="po_file" class="span12" id="po_scan_input" type="file">

                                    </div>
                    </div>

                <div class="row-fluid">
                    <button id="create_proposal_button" type"submit"
                    class="btn btn-large btn-inverse" style="width:46%;margin-left:27%;margin-top:40px;">Create</button>
                </div>

                </fieldset>

            </form>
        </div>
    </div>
</div>


