{% extends "base.html" %}


{% block title %} Proposal Profile {% endblock %}

{% block custom_stylesheets %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/interactive-svg.css" />
{% endblock %}


{% block head_js %}

		<script src="/static/js/modernizr.custom.js"></script>

{% endblock %}

{% block content %}

{%include "login.html"%}
{%include "signup.html"%}
{%include "confirm_po_modal.html"%}

{%include "nav.html"%}



		<div class="container" style="overflow-x:auto;">	

<!-- 			<div class="codrops-top clearfix">
				<a href="http://tympanus.net/Development/CircleFlipSlideshow/"><strong>&laquo; Previous Demo: </strong>Flipping Circle Slideshow</a>
				<span class="right"><a href="http://tympanus.net/codrops/?p=13831"><strong>Back to the Codrops Article</strong></a></span>
			</div> -->
			<!-- <header class="clearfix">
				<h1>Interactive SVG Infographic<span>Animation &amp; interaction using CSS and JavaScript</span></h1>	

			</header> -->
			<div class="row-fluid" >

	{%if loggedin%}

    {%if allowed%}

				<div class="span8">
				<div class="main">

					<div id="stage"></div>

			<!-- 		<p><small>* Any statistics or information displayed herein is for display purposes only and is not intended to be factual</small></p> -->

				</div>
				</div>
				<div class="span4" style="position:relative;">
					{%include "threads.html"%}
					{%if selected_enquiry.status == "unapproved"%}
					<button class="btn btn-warning" style="position:absolute; left:20px;" data-toggle="modal" {%if not loggedin%} data-target="#login-modal" {%else%} data-target="#confirm_po_modal" {%endif%}>Confirm PO</button>
					{%else%}
					<span class="span12 alert alert-danger">PO No : {{po.po_no}}</span>
					{%endif%}
					{%include "enquiry_profile_details_table.html"%}
					<span class="span12 alert alert-success">Target Audience : {{selected_enquiry.target_audience}}</span>
        			<span class="span12 alert alert-warning">End Purpose : {{selected_enquiry.end_purpose}}</span>


        			{%if is_staff%}
        				<button class="btn bt-large btn-success span12" style="pading:5px;margin-left:10px;margin-top:25px;" data-toggle="modal" {%if not loggedin%} data-target="#login-modal" {%else%} data-target="#create_proposal_modal" {%endif%}> Respond</button>
        			{%endif%}
				</div>
			</div>
		</div>


    {%else%}
        <div style="text-align : center; margin-bottom:20%; margin-top:10%;">
          <span class="alert alert-warning" style="color:black;font-size:140%;">Go Away...You are not supposed to be here...</span>
        </div>
    {%endif%}

  {%else%}
        <div style="text-align : center; margin-bottom:20%; margin-top:10%;">
          <a href="#"><button class="btn btn-large btn-danger" data-toggle="modal" data-target="#login-modal"  style="color:white">You Need To Login To View This Page</button></a>
        </div>
  {%endif%}


{% endblock %}

{% block body_js %}
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/interactive-svg.js"></script>

		{%if selected_enquiry%}

		<script type="text/javascript">

		 selected_enquiry_requirements = JSON.parse("{{selected_enquiry_requirements}}".replace(/&quot;/g,'"'));

		 enquiry_details_body = document.getElementById('selected_enquiry_details_body');

		 function create_selected_enquiry_details_table () {
		 	sl_no = 1;
		 	for (item in selected_enquiry_requirements){
		 		item_tr = document.createElement('tr');

		 		item_sl_no_td = document.createElement('td');
		 		item_sl_no_td.setAttribute('style', 'font-size:100%;');
		 		item_sl_no_textnode = document.createTextNode(String(sl_no));
		 		item_sl_no_td.appendChild(item_sl_no_textnode);
		 		item_tr.appendChild(item_sl_no_td);

		 		item_category_td = document.createElement('td');
		 		item_category_td.setAttribute('style', 'font-size:100%;');
		 		item_category_textnode = document.createTextNode('"' + item + '"');
		 		item_category_td.appendChild(item_category_textnode);
		 		item_tr.appendChild(item_category_td);

		 		item_quantity_td = document.createElement('td');
		 		item_quantity_td.setAttribute('style', 'font-size:100%;');
		 		item_quantity_textnode = document.createTextNode(selected_enquiry_requirements[item]);
		 		item_quantity_td.appendChild(item_quantity_textnode);
		 		item_tr.appendChild(item_quantity_td);

		 		enquiry_details_body.appendChild(item_tr);

		 		sl_no +=1;
		 	}
		 }

		 document.addEventListener('DOMContentLoaded', create_selected_enquiry_details_table, false);
		</script>
		{%endif%}

{% endblock %}
