<div class="modal fade" id="enquiry_modal" tabindex="-1" style="display:none;width:1050px;left:425px;max-height:700px;top:40%;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Submit An Enquiry Here...</h3>
    </div>
    <div class="modal-body" id="create_enquiry_modal_body" style="width:95%; max-height:700px;">

        <div class="alert alert-success" id="create_enquiry_msg_container" style="width:99%;margin:5px;padding:5px;max-height:100px; display:none;">
            <h4 style="margin-left:100px;">Creating enquiry...</h4>
        </div>

        <div id="create_enquiry_form_body" style="display:block;">
            <form id="enquiry_form" class="well form-horizontal"
                action="" method="post" accept-charset="utf-8">
                <fieldset>
                    <div class="row-fluid">
                        <div class="span6">

                                <div class="control-group">
                                    <div class="control-label">Title</div>
                                    <div class="controls">
                                        <input id="enquiry_title" name="enquiry_title" type="text" maxlength="149" value="">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <div class="control-label">Target Audience/ Users</div>
                                    <div class="controls row-fluid">
                                        <select id="enquiry_target_audience" name="enquiry_target_audience">
                                          <option value="employees">Your Employees</option>
                                          <option value="clients">Your Clients</option>
                                          <option value="internet">Internet (Everyone)</option>
                                          <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">Purpose Of Video</div>
                                    <div class="controls row-fluid">
                                        <select id="enquiry_end_purpose" name="enquiry_target_audience">
                                          <option value="product_promotion">Product Promotion</option>
                                          <option value="training">Training</option>
                                          <option value="event_promotion">Event Promotion</option>
                                          <option value="topical_awareness">Topical Awareness</option>
                                          <option value="product_description">Product Description</option>
                                          <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>

                           

                                <div class="control-group">

                                    <div class="control-label">
                                        Your Requirements
                                    </div>

                                    <div class="controls row-fluid">
                                        <ul id="enquiry_requirements">
                                            <li>
                                                <div class="span12">

                                                        <select class="span4 enquiry_category" id="enquiry_category" name="enquiry_category">
                                                          <option value="animatedvideos">Animated Videos</option>
                                                          <option value="liveactionvideos">Live Action Videos</option>
                                                          <option value="elearning">Elearning Videos</option>
                                                          <option value="itap">ITAp (ELMS)</option>
                                                          <option value="others">Others</option>
                                                        </select>
                                                        <input id="enquiry_quantity_view" type="text" value="0" style="width:40px;">
                                                        <span>Units </span>

                                                        <!--                                         
                                                        <input id="enquiry_quantity_slider"type="range" step="1" min="1" max="101" value="0"  style="width:150px;">
                                                     -->                        
                                               </div>
                                            </li>
                                        </ul>

                                       <div class="span6">
                                        <span class="btn btn-mini btn-info" style="margin-left:-10px !important; margin:10px;" onclick="cln=this.parentElement.previousElementSibling.firstElementChild.cloneNode(true); console.log(this.parentElement.previousElementSibling.firstElementChild); this.parentElement.previousElementSibling.appendChild(cln);">Add More</span>
                                       </div>

                                    </div>
    

                                </div>

                        </div>

                        <div class="span5">
                                <div class="control-group">
                                    <div class="control-label">Additional Description</div>
                                    <div class="controls">
                                        <textarea rows="8" id="enquiry_description" name="enquiry_description" type="text" maxlength="2990" value=""></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">Approx. Timeframe (Deadline)</div>
                                    <div class="controls">
                                        <div id="enquiry_timeframe" name="enquiry_timeframe" style=""></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row-fluid">
                    <button id="create_enquiry_button" {%if not loggedin%} data-dismiss="modal" data-toggle="modal" data-target="#login-modal" {%else%} onclick="event.preventDefault();create_enquiry('{{current_user}}')" {%endif%} 
                    class="btn btn-large btn-danger" style="width:46%;margin-left:27%;margin-top:40px;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


