<table class="table table-hover" id="selected_enquiry_details_table" style="padding:100px;margin-top:50px;">

           <ul class="nav nav-tabs">

              <tr id="selected_enquiry_details_header" style="display:table-row;">

                <th>sl no</th>
                <th>category</th>
                <!-- <th>story-board</th> -->
                <th>quantity</th>
                
              </tr>

            </ul>





    {%if selected_enquiry%}        

    <tbody id="selected_enquiry_details_body">





<!--               <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{enquiry.title}}">{{enquiry.id}}</a></td>

              <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{enquiry.title}}"><strong>{{enquiry.title}}</strong></a></td>

              <td>
                <button class="btn btn-success storyboard" onclick="storyboard_modal({{video.id}})">View</button>
              </td>

              <td style="font-size:150%;">{{enquiry.timeframe}}</td>

              <td style="font-size:150%;">{{enquiry.client}}</td>
              
              <td style="font-size:150%;">{{enquiry.status}} </td> -->
                   



    </tbody>



      {%else%}

              <h5>selected enquiry couldnt be found</h5>

      {%endif%} 


    </table>
