<table class="table table-hover" id="enquiries_table">

           <ul class="nav nav-tabs">

              <tr id="enquiry_tabs" style="display:table-row;">

                <th>sl no</th>
                <th>title</th>
                <!-- <th>story-board</th> -->
                <th>time frame</th>
                <th>Client</th>
                <th>status</th> 
                
              </tr>

            </ul>



      {%if enquiries%}

        {%for enquiry in enquiries reversed%}

    <tr>


              <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{enquiry.title}}">{{enquiry.id}}</a></td>

              <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{enquiry.title}}"><strong>{{enquiry.title}}</strong></a></td>

        <!--       <td>
                <button class="btn btn-success storyboard" onclick="storyboard_modal({{video.id}})">View</button>
              </td> -->

              <td style="font-size:150%;">{{enquiry.timeframe}}</td>

              <td style="font-size:150%;">{{enquiry.client}}</td>
              
              <td style="font-size:150%;">{{enquiry.status}} </td>
                   
    

    </tr>

      {%endfor%} 


      {%else%}

              <h5>no enquiries to display</h5>

      {%endif%} 


    </table>
