 <!-- Footer -->

        <!-- Footer Start -->

        <div id="footer" class="container-fluid" style="background: #111; margin-top:400px;">
            <div class="row-fluid">
                <div class="span12">
                    <div id="footer-bottom">
                        © Copyright 2013 by <a href="#">Biztoonz</a>. All rights reserved.

                        <div id="scroll-top-top"><a href="#" title="Go to Top"></a></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Footer / End -->
