       <div id="wrapper" class="container-fluid">


            <div class="ie-dropdown-fix" >
         

                <!-- Navigation -->
                <div id="navigation">
                    <ul id="nav">

                        <li><a href="/dashboard/{{loggedin_user}}" class="active">DashBoard</a></li>

                        <li><a href="/about/">About Us</a></li>
                        
                        <!-- <li><a href="/contact/">Contact</a></li> -->
                        
                        {%if loggedin%}
                            
                                <li style="float:right">
                                  <a id="logout_link" href=""><button class="pull-right btn btn-danger" style="color:white">Logout</button></a>
                                </li>

                                <script type="text/javascript">
                                    var pathname = window.location.pathname;
                                    console.log(pathname)
                                    document.getElementById('logout_link').href = "/logout" + pathname
                                    console.log(document.getElementById('logout_link').href )
                                </script>
                            
                            
                        {% else %}

                                <li style="float:right">
                                  <a href="#"><button class="pull-right btn btn-danger" data-toggle="modal" data-target="#login-modal"  style="color:white">Login/SignUp</button></a>
                                </li>
                        {%endif%}

                    </ul>

                </div> 
                <div class="nav-shadow"></div>
                <div class="clear"></div>

            </div>