<table class="table table-hover" id="orders_table" style="display:none;">

           <ul class="nav nav-tabs">

            <tr id="order_tabs">

              <th>Sl No</th>
              <th>title</th>
              <!-- <th>story-board</th> -->
              <th>timeframe</th>
              <th>Client</th>
              <th>status</th> 
              
            </tr>

          </ul>


      {%if orders%}

        {%for order in orders reversed%}

    <tr>

              <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{order.title}}">{{order.id}}</a></td>

              <td style="font-size:150%;"><a target="_blank" href="/enquiry_profile/{{current_user}}/{{order.title}}"><strong>{{order.title}}</strong></a></td>

        <!--       <td>
                <button class="btn btn-success storyboard" onclick="storyboard_modal({{video.id}})">View</button>
              </td> -->

              <td style="font-size:150%;">{{order.timeframe}}</td>

              <td style="font-size:150%;">{{order.client}}</td>
              
              <td style="font-size:150%;">{{order.status}} </td>


    </tr>


        {%endfor%} 


      {%else%}

              <h5>no orders to display</h5>

      {%endif%}                    

      


</table>
