{% extends "base.html" %}



{% block title %} Order Details {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

       <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>


{% endblock %}


{% block head_js %}


                 <script type="text/javascript">

// function my_js_callback(data){
//     alert(data.message);
// }

        </script>

{% endblock %}

{% block content %}

{%include "login.html"%}
{%include "signup.html"%}


{%include "storyboard_modal.html"%}


       
        {%include "nav.html"%}



            <div class="container-fluid">
              {%if loggedin%}

              <div class="row-fluid">               

                  <div class="left_and_center span6">
                    {%if order.video%}

                    <div class="video-preview">
                      <video class="video-js vjs-default-skin" 
                            controls preload="auto" width="580px" height="360px" poster="{{order.thumb.url}}"
                              data-setup="{}">
                              <source src="{{order.video.url}}" type='video/mp4'>
                      </video>
                    </div>
                    {%else%}
                      <h4 style="padding-bottom:250px;">Animation : Not Ready </h4>
                    {%endif%}

                    <div class="video-details">
                      <h3> Order No. : {{order.order_no}} </h3>
                      <button class="btn btn-warning storyboard" onclick="storyboard_modal({{order.id}})">View Story-Board</button>

                      <h2> Title : {{order.title}} </h2>
                      <h4> DateTime Created : {{order.datetime_created}} </h4>

                      <form method="post" action=".">
                        <h3>                        
                          Current Status : {{order.status}} 

                          {%if order.status != 'approved' %}
                          <button type="submit" class="badge badge-success" name="confirm_approve" value="confirm_approve">Approve!</button>
                          {%endif%}
                        </h3>
                      </form>
                     
                    </div>

                  </div>


                  <div class="right span6" style="min-width:400px;margin-left:5px;">

                    {%include "threads.html"%}

                  </div>


              </div>


 <!--                <div class="bottom-left" style="float:left; padding:10px; background-color: black; opacity: 0.6; color: white;  border-radius : 10% / 10%; margin-bottom:1%; ">

                </div> -->



                      {%else%}
                        <div style="text-align : center; margin-bottom:20%; margin-top:10%;">
                          <a href="#"><button class="btn btn-large btn-danger" data-toggle="modal" data-target="#login-modal"  style="color:white">You Need To Login To View This Page</button></a>
                        </div>
                      {%endif%}

            </div>

                   
     


        {%include "footer.html"%}
       

 

{% endblock %}

{% block body_js %}

        <script src="{{ STATIC_URL }}js/jquery.js"></script>

        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

        <script src="{{STATIC_URL}}js/storyboard.js"></script>


          <script type="text/javascript">
        // function myFunction(evt) {
        //   var id = evt.target.id || "No ID!";
        //   console.log(id)
        //   var element = document.getElementById(id)
        //   console.log(element)
        //   var reply_input = document.createElement("input");
        //   reply_input.type = "text";
        //   reply_input.className = "reply_input"; // set the CSS class
        //   document.element.appendChild(reply_input); // put it into the DOM
        //   };
        // </script>
      



{% endblock %}



