    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    
     <!-- <script src="{{ STATIC_URL }}js/bootstrap.js"></script> -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>


    <script src="{{ STATIC_URL }}js/swfobject.js"></script>

       <script src="{{ STATIC_URL }}js/switcher.js"></script>
        

<!--  <script src="{{ STATIC_URL }}js/bootstrap-lightbox.js"></script> -->
 

       
        <script src="{{ STATIC_URL }}js/custom.js"></script>
        <script src="{{ STATIC_URL }}js/selectnav.js"></script>
        <script src="{{ STATIC_URL }}js/flexslider.js"></script>
        <script src="{{ STATIC_URL }}js/twitter.js"></script>
        <script src="{{ STATIC_URL }}js/fancybox.js"></script>
        <script src="{{ STATIC_URL }}js/isotope.js"></script>


    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/nod.js"></script>


<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script> -->







