{% extends "base.html" %}

{% block title %} {{ head_title }} {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

      
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/switcher.css">

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/workflowtool.css">

        


{% endblock %}


{% block head_js %}
        

{% endblock %}

{% block content %}

{%include "login.html"%}
{%include "signup.html"%}


 

       
        {%include "nav.html"%}

            <div class="container-fluid">
                <div class="row-fluid">

                    <div id="left-tool-container" class="left-tool span3" style="border:1px solid black;">
                        <section id="left-tool-section">
                            <div class="draggable ui-widget-content" id="dropzone-left" >
                               <input style="visibility:hidden;" name="file" type="file" multiple />
                               drag and drop files here..
                               <p>or just click anywhere below to select...</p>
                            </div>
                        </section>
                    </div>



                    <div id="work-area" class="working-area span7" style="border:1px solid black;">
                       

                    </div>



                    <div class="right-tool span2" style="border:1px solid black;">
                        <section id="right-tool-section">
                            <p>file-tool-section</p>
                        </section>
                    </div>

                </div>

                    <div class="scene-timeline row" style="border:1px solid black;">
                        <section id="scene-timeline-section">
                           <div class="pagination pagination-large">
                              <ul id="scene-list">

                              </ul>
                              <ul><li><a class="btn btn-info" onclick="addLabel()" id"add-scene" href"#">+ Add Scene</a></li></ul>
                            </div>  

                            <script type="text/javascript">
                              var nextId = 1
                                , timeline = document.getElementById('scene-list');
                                var addscene = document.getElementById('add-scene');
                                var workarea = document.getElementById('work-area');

                              function addLabel() {
                                  var d = document.createElement("li");
                                  var c = document.createElement("canvas")
                                  c.width = 676;
                                  c.height = 500;
                                  d.id = "li" + nextId;
                                  c.id = "working-area-canvas" + nextId;
                                  d.innerHTML ='<' + 'a ' +'' + 'href=' + "#" +' >' + "Scene" + nextId + '<' + '\/' +'a' + '>';
                                  timeline.appendChild(d);
                                  workarea.appendChild(c)
                                  nextId += 1; 
                                }

                              addLabel();
                            </script>                         
                        </section>

                    </div>
            </div>


        {%include "footer.html"%}
       

 

{% endblock %}

{% block body_js %}

        <script src="{{ STATIC_URL }}js/jquery.js"></script>

        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>


        <script src="{{ STATIC_URL }}js/dropzone.js"></script>

        <script>
             $("section#left-tool-section").dropzone({ url: "#" });

        </script>



        <script type="text/javascript">


            $( ".preview .processing .image-preview .error" ).draggable();
            $( ".right-tool p" ).draggable();
        </script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>

                         <script>


                        workarea.addEventListener("click", canvasselector, false );

                         var workarea = document.getElementById('work-area');
                         var selectedcanvas ;


                         function canvasselector(evt) {
                                var selectedcanvas = evt.target.id || "No ID!";
                                console.log(selectedcanvas);
                                // return selectedcanvas;
                              


                         

                          // var selectedcanvas = canvasselector();

                          var canvas = document.getElementById(selectedcanvas);


                          var context = canvas.getContext('2d');

                          var imageObj = new Image();

                          imageObj.onload = function() {
                            context.drawImage(imageObj, 3, 3);
                          };
                          


                          // To enable drag and drop
                            canvas.addEventListener("dragover", function (evt) {
                                evt.preventDefault();
                            }, false);

                            // Handle dropped image file - only Firefox and Google Chrome
                            canvas.addEventListener("drop", function (evt) {
                                var files = evt.dataTransfer.files;
                                if (files.length > 0) {
                                    var file = files[0];
                                    if (typeof FileReader !== "undefined" && file.type.indexOf("image") != -1) {
                                        var reader = new FileReader();
                                        // Note: addEventListener doesn't work in Google Chrome for this event
                                        reader.onload = function (evt) {
                                            imageObj.src = evt.target.result;
                                        };

                                        reader.readAsDataURL(file);
                                    }
                                }
                                evt.preventDefault();
                            }, false);    

                          }



                        // </script>


<script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script>
<script>
  $(document).ready(function() { 
  $("#work-area").niceScroll({cursorcolor:"#000"});   
  $("#left-tool-container").niceScroll({cursorcolor:"red"});
  });
</script>

<script type="text/javascript">


{% endblock %}



