<div class="container-fluid" id="storyboard_modal" style="display:none;height:500px !important; overflow:hidden;">
	
                <div class="row-fluid" style="padding-bottom:20px;">

                    <div id="left-tool-container" class="left-tool span3" style="border:1px solid black; cursor:pointer; height:500px; overflow-y:auto;">
                        <ul id="storyboard_nav" style="padding:5px;">

                        </ul>
                    </div>



                    <div class="storyboard_canvas span9" style="border:1px solid black; min-height:500px; position:relative;">

                        <div id="storyboard_comments" style="position:absolute;z-index:999;">
                        </div>

                        <div id="storyboard_canvas" style="position:absolute; height:100%">

                        </div>

                    </div>


                </div>

</div>