  <!-- Styles Switcher -->
        <div id="style-switcher">
            <h2>Please Don't Hesitate<a href="#">Feedback</a></h2>
            <div>
                <h3><p>What from below would you choose to describe our service.</p></h3>
                <form id="feedback-form" action="/feedback/" method="post">
                    {% csrf_token %}
                <!-- <div class="layout-style">
                                    <select id="layout-switcher">
                
                                        <option>Excellent</option>
                                        <option>Very Good</option>
                                        <option>Quite Good</option>
                                        <option>Somewhat Good</option>
                                        <option>Could have been better</option>
                                        <option>Need to improve a lot</option>
                
                                    </select>
                </div>
                                
                
                                <h3><p>Leave your feedback here</p></h3>

                                <TEXTAREA NAME="feedback" ROWS=4 COLS=30 ></TEXTAREA> -->

                                {{feedbackform.as_table}}

                                <a {%if not loggedin%}data-toggle="modal" data-target="#login-modal"{% else %}href=""{%endif%}>
                                    <button id="feedback_submit" class="btn btn-info" type="submit" name="feedback">Submit</button>
                                </a>
                
                
                </form>

        </div>

<script type="text/javascript">


var metrics = [
 [ '#id_message', 'presence', 'Cannot be empty' ],
  ];
 
 var options = {
  'submitBtnSelector' : '#feedback_submit',
   'delay' : 6000,

};

$("#feedback-form").nod( metrics, options );


</script>