                              <div style="z-index:2; background-color: black; opacity: 0.6; color: white; padding :20px; border-radius : 0% / 0%; margin-top:1%; margin-left: 5%;
                              width : 90%; margin-bottom:4%; overflow-y: auto;">

                                {%if order.status != 'approved'%}
                                  <form action="." method="post">
                                      <ui style="list-style-type:None;">
                                      <li>
                                          <input type="text" name="comment" class="span12">
                                          <button type="submit" class="badge badge-important" name="post_comment" value="post_comment" style="float: right;">Post</button>
                                      </li>
                                      </ui>
                                  </form>
                                {%endif%}

                                  <h3>Topics:</h3>
                                  <!-- <ul style="list-style-type:decimal;"> -->

                                      {% for comment in comments%}

                                      <div class="accordion" id="accordion2">
                                        
                                          <div class="accordion-group">
                                            <div class="accordion-heading">
                                              <li><a style="color:white;" href="#comment{{comment.id}}"                      
                                                      data-parent="#accordion2" data-toggle="collapse">
                                                     <h4> {{comment.comment}} &nbsp; &nbsp; &nbsp; &nbsp; {{comment.datetime_created}} &nbsp; &nbsp; &nbsp;{{comment.status}} &nbsp; &nbsp; <strong>
                                                     --- {{comment.commenter}}
                                                      </strong>
                                                    </h4>
                                                  </a>
                                              </li>
                                            </div>

                                            <div id="comment{{comment.id}}" class="accordion body collapse in">
                                              <div class="accordion-inner">

                                                <div style="float:right">

                                                  {% for replies_to_comment in replies%}

                                                    {%for reply in replies_to_comment%}

                                                      {%if reply.comment.id = comment.id %}

                                                        <h5> {{reply.reply}} &nbsp; &nbsp; {{reply.datetime_created}} &nbsp; &nbsp; -- {{reply.replier}}  </h5>

                                                      {%endif%}

                                                    {%endfor%}

                                                  {%endfor%}

                                                </div>

                                               {%if order.status != 'approved'%}

                                                    <p>
                                                  {%if comment.status == 'unresolved'%}
                                                                             
                                                  <form method="post" action"." style="margin-left:25%">
                                                   <input type="text" name="reply" class="span10"> 
                                                   <input style="display:none;" name="replied_comment_id" value="{{comment.id}}">
                                                     <button type="submit" class="badge badge-success" name="post_reply" value="post_reply" style="">^Comment</button>
                                                  </form>
                                                
                                                  {%endif%}
                                                    </p>
                                                {%endif%}


                                              </div>
                                            </div>

                                         <!--  </ul> -->                                

                                        </div>
                                      </div>


                                       {%endfor%}


                                     
                                 <!--  </ul> -->

                              </div>