
{% extends "base.html" %}



{% block title %} Biztoonz DashBoard {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

      
 <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>
        


{% endblock %}


{% block head_js %}
     

                 <script type="text/javascript">

// function my_js_callback(data){
//     alert(data.message);
// }

        </script>

{% endblock %}

{% block content %}

{%include "login.html"%}
{%include "signup.html"%}
{%include "enquiry_modal.html"%}

 {%include "storyboard_modal.html"%}

       
        {%include "nav.html"%}

<div class="container-fluid">
  <div class="row-fluid">


  {%if loggedin%}

    {%if allowed%}

        <div class="table-header row-fluid">
            <h3 class="span4">{{current_user}}'s DashBoard</h3>
            <div class="span4" id="views_container" style="margin-top:20px;">
              <select id="dashboard_view_select">
                <option value="proposal">enquiries (Pre Order)</option>
                <option value="orders">Orders (Confirmed PO)</option>
              </select>
       
            </div>
            <div class="span4" id="tools_container" style="margin-top:20px;">
              <div id="proposal_buttons" style="display:inline;">
                <button class="btn btn-success" data-toggle="modal" data-target="#enquiry_modal">Submit New Enquiry</button>
              </div>
              <div class="order_buttons">
              </div>
            </div>

        </div>

      {%include "enquiries_table.html"%}
      {%include "orders_table.html"%}

    {%else%}
        <div style="text-align : center; margin-bottom:20%; margin-top:10%;">
          <span class="alert alert-warning" style="color:black;font-size:140%;">Go Away...You are not supposed to be here...</span>
        </div>
    {%endif%}

  {%else%}
        <div style="text-align : center; margin-bottom:20%; margin-top:10%;">
          <a href="#"><button class="btn btn-large btn-danger" data-toggle="modal" data-target="#login-modal"  style="color:white">You Need To Login To View This Page</button></a>
        </div>
  {%endif%}

  </div>
                  
</div>



        {%include "footer.html"%}
       

 

{% endblock %}

{% block body_js %}

        <script src="{{ STATIC_URL }}js/jquery.js"></script>

        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

        <script src="{{STATIC_URL}}js/storyboard.js"></script>

        <script type="text/javascript">

        dashboard_view_select = document.getElementById('dashboard_view_select');

        proposal_buttons = document.getElementById('proposal_buttons');

        proposal_tabs = document.getElementById('proposal_tabs');

        order_tabs = document.getElementById('order_tabs');

        orders_table = document.getElementById('orders_table');

        enquiries_table = document.getElementById('enquiries_table');


        function update_dashboard_buttons () {

          if (dashboard_view_select.value == "proposal") {

            proposal_buttons.style.display = "inline";

            // proposal_tabs.style.display = "table-row";
            enquiries_table.style.display = "table";
            // order_tabs.style.display = "none";
            orders_table.style.display = "none";
          }

          else{

            proposal_buttons.style.display = "none";

            // order_tabs.style.display = "table-row";
            orders_table.style.display = "table";
            // proposal_tabs.style.display = "none";
            enquiries_table.style.display = "none";
          }
        }

        dashboard_view_select.addEventListener('change', update_dashboard_buttons, false);

        </script>





        <script type="text/javascript">

        // enquiry_quantity_view = document.getElementById('enquiry_quantity_view');
        // enquiry_quantity_slider = document.getElementById('enquiry_quantity_slider');

        // function update_enquiry_quantity_view() {
        //   if (enquiry_quantity_slider.value > 100) {
        //     enquiry_quantity_view.value = '100+';
        //   }
        //   else{
        //     enquiry_quantity_view.value = enquiry_quantity_slider.value
        //   }
        // }

        // function update_enquiry_quantity_slider() {
        //     enquiry_quantity_slider.value = enquiry_quantity_view.value
        // }

        // enquiry_quantity_slider.addEventListener('change', update_enquiry_quantity_view, false);
        // enquiry_quantity_view.addEventListener('change', update_enquiry_quantity_slider, false)

        </script>

    <script src="{{ STATIC_URL }}js/timepicker.js"></script>
        <script type="text/javascript">

          $('#enquiry_timeframe').datepicker({
              timeFormat: 'HH:mm z',
              minDate: new Date(),
              // maxDate: new Date() + new Date(10),
              // showTimezone: true,
              // altField: "#camp_schedule_input",
              // separator : '@',
          });
        </script>



        <script type="text/javascript">


        function send_ajax(success_callback,error_callback,target_url,method,form_data) {
          return;
        }

        create_enquiry_msg_container = document.getElementById('create_enquiry_msg_container');
        enquiry_title = document.getElementById('enquiry_title');
        create_enquiry_button = document.getElementById('create_enquiry_button');
        enquiry_timeframe = document.getElementById('enquiry_timeframe');
        enquiry_description = document.getElementById('enquiry_description');
        enquiry_target_user = document.getElementById('enquiry_target_audience');
        enquiry_end_purpose = document.getElementById('enquiry_end_purpose');
        enquiry_requirements = document.getElementById('enquiry_requirements');

        function create_enquiry(current_user) {

                            var xmlhttp;

                            if (window.XMLHttpRequest)
                              {// code for IE7+, Firefox, Chrome, Opera, Safari
                              xmlhttp=new XMLHttpRequest();
                              }
                            else
                              {// code for IE6, IE5
                              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                              }


                              enquiry_requirements_data = new Object();

                                for(i=0;i<enquiry_requirements.children.length;i++) {
                                  enquiry_requirements_data[enquiry_requirements.children[i].firstElementChild.children[0].value] = String(enquiry_requirements.children[i].firstElementChild.children[1].value)
                                }


                            xmlhttp.onreadystatechange=function()
                              {
                                if(xmlhttp.readyState<4) {

                                  create_enquiry_button.setAttribute('disabled','true');
                                  create_enquiry_button.innerHTML = "Wait...";
                                  create_enquiry_msg_container.style.display= 'block';

                                }


                              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                                {
                                    create_enquiry_result = xmlhttp.responseText ;
                                    console.log(create_enquiry_result);
                                    create_enquiry_msg_container.children[0].innerHTML = "Your Enquiry (Titled : " + String(create_enquiry_result) +") Has Been Submitted. Check Your DASHBOARD."
                                    document.getElementById("enquiry_form").reset();
                                    create_enquiry_button.innerHTML = "Submit Another Enquiry";
                                    create_enquiry_button.disabled = false;
                                    

                                }
                              }                    
                       
                            xmlhttp.open("POST","/create_enquiry/"+ enquiry_title.value  +"/"+ "{{current_user}}" + "/" , true);
                                create_enquiry_form = new FormData();
                                create_enquiry_form.append("enquiry_title", enquiry_title.value);
                                create_enquiry_form.append("enquiry_description", enquiry_description.value);
                                create_enquiry_form.append("enquiry_timeframe", enquiry_timeframe.value);
                                create_enquiry_form.append("enquiry_target_user", enquiry_target_user.value);
                                create_enquiry_form.append("enquiry_end_purpose", enquiry_end_purpose.value);
                                create_enquiry_form.append("enquiry_requirements", JSON.stringify(enquiry_requirements_data));

                            xmlhttp.send(create_enquiry_form);
        }

        </script>

{% endblock %}



